<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HistoryQuizApp"
        android:theme="@style/Theme.AppCompat.DayNight">

        <!--Declare MainActivity-->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Declare FlashcardActivity-->
        <activity android:name=".FlashcardActivity"
            tools:ignore="MissingClass" />

        <!--Declare ScoreActivity-->
        <activity android:name=".ScoreActivity" />

        <!--Declare ReviewActivity-->
        <activity android:name=".ReviewActivity" />

    </application>

</manifest>
